certifi
charset-normalizer
idna
numpy
pandas
python-dateutil
python-dotenv
pytz
requests
six
urllib3
xlrd
openpyxl
# gensim
openai
shortuuid
pydantic
langchain
langchain-openai
langchain-community
pytest